h1 {
  color: red;
  font-size: 36pt;
}

p {
  color: blue;
}

body {
  background-color: green;
}

img.a {
  width: 10%;
  transform: rotate(90deg);
}

img.b {
  width: 25%;
  transform: rotate(90deg);
}

img.c {
  width: 50%;
  transform: rotate(90deg);
}
